<template>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
        <path
            fill="#e24329"
            d="M2 14l9.38 9v-9l-4-12.28c-.205-.632-1.176-.632-1.38 0zM34 14l-9.38 9v-9l4-12.28c.205-.632 1.176-.632 1.38 0z"
        />
        <path fill="#e24329" d="M18 34.38L3 14h30z" />
        <path
            fill="#fc6d26"
            d="M18 34.38L11.38 14H2l4 11zM18 34.38L24.62 14H34l-4 11z"
        />
        <path
            fill="#fca326"
            d="M2 14L.1 20.16c-.18.565 0 1.2.5 1.56l17.42 12.66z"
        />
        <path
            fill="#fca326"
            d="M34 14l1.9 6.16c.18.565 0 1.2-.5 1.56L18 34.38z"
        />
    </svg>
</template>
