<template>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
        <g fill="none" fill-rule="evenodd">
            <path
                d="M2.8 34h28.4c1.546 0 2.8-1.254 2.8-2.8V2.8C34 1.254 32.746 0 31.2 0H2.8C1.254 0 0 1.254 0 2.8v28.4C0 32.746 1.254 34 2.8 34"
                fill="#FFF"
            />
            <path
                d="M2.8 34h28.4c1.546 0 2.8-1.254 2.8-2.8V2.8C34 1.254 32.746 0 31.2 0H2.8C1.254 0 0 1.254 0 2.8v28.4C0 32.746 1.254 34 2.8 34zM13 13h4.75v2.391c.637-1.277 2.492-2.641 4.945-2.641 4.702 0 6.305 2.125 6.305 7.172V29h-5v-8.016c0-2.656-.519-4.109-2.458-4.109-2.621 0-3.542 1.992-3.542 4.109V29h-5V13zM5 29h5V13H5v16zm5.55-21.5c0 1.684-1.366 3.05-3.05 3.05-1.684 0-3.05-1.366-3.05-3.05 0-1.685 1.366-3.05 3.05-3.05 1.684 0 3.05 1.365 3.05 3.05z"
                fill="#0077B5"
            />
            <g>
                <rect fill="#FFF" x="1" y="1" width="46" height="46" rx="4" />
                <path
                    d="M0 4.00989318C0 1.79529033 1.79405245 0 4.00989318 0H43.9901068C46.2047097 0 48 1.79405245 48 4.00989318V43.9901068C48 46.2047097 46.2059475 48 43.9901068 48H4.00989318C1.79529033 48 0 46.2059475 0 43.9901068V4.00989318zM19 18.3h6.5v3.266C26.437 19.688 28.838 18 32.445 18 39.359 18 41 21.738 41 28.597V41.3h-7V30.159c0-3.906-.937-6.109-3.32-6.109-3.305 0-4.68 2.375-4.68 6.109V41.3h-7v-23zM7 41h7V18H7v23zm8-30.5c0 2.485-2.015 4.5-4.5 4.5S6 12.985 6 10.5 8.015 6 10.5 6 15 8.015 15 10.5z"
                    fill="#0077B5"
                />
            </g>
        </g>
    </svg>
</template>
