<template>
    <div class="relative" @mouseover="open">
        <div @click="$emit('close')">
            <nuxt-link
                :to="{ path: localePath('/'), hash: anchor }"
                class="nav-link w-full"
            >
                <span class="flex-1 flex items-center">
                    <iconify-icon
                        v-if="!!icon"
                        :icon="icon"
                        class="w-4 h-4 mr-2"
                    />
                    <span>{{ title }}</span>
                </span>
                <iconify-icon
                    :icon="icons.down"
                    class="hidden md:block w-6 h-6 ml-1 text-gray-600"
                />
            </nuxt-link>
        </div>

        <transition name="dropdown">
            <ul
                v-show="isOpen"
                class="dropdown rounded md:py-2 md:absolute md:w-56 md:mt-1 md:shadow-xl md:bg-white"
            >
                <li
                    v-for="(link, index) in links"
                    :key="index"
                    class="pl-4 py-1 md:px-2"
                    @click="$emit('close')"
                >
                    <nuxt-link
                        :to="{ path: localePath('/'), hash: link.slug }"
                        class="flex items-center hover:text-white md:text-gray-900 md:hover:text-blue-500"
                    >
                        <iconify-icon
                            :icon="icons.right"
                            class="w-4 h-4 mr-2"
                        />
                        <span>{{ link.title }}</span>
                    </nuxt-link>
                </li>
            </ul>
        </transition>
    </div>
</template>

<script>
import IconifyIcon from '@iconify/vue';
import down from '@iconify/icons-eva/chevron-down-fill';
import right from '@iconify/icons-eva/arrow-right-fill';

export default {
    components: { IconifyIcon },

    props: {
        anchor: {
            type: String,
            default: null,
        },
        title: {
            type: String,
            required: true,
        },
        icon: {
            type: Object,
            default: null,
        },
        links: {
            type: Array,
            required: true,
        },
    },

    data: () => ({
        icons: { down, right },
        isOpen: false,
    }),

    beforeDestroy() {
        document.removeEventListener('click', this.close);
        document.removeEventListener('mouseout', this.close);
        document.removeEventListener('keydown', this.close);
    },

    methods: {
        open() {
            if (!this.isOpen) {
                this.isOpen = true;

                document.addEventListener('click', this.close);
                document.addEventListener('keydown', this.close);
                document.addEventListener('mouseout', this.close);
            }
        },

        close(event) {
            const pressEsc = event.type === 'keydown' && event.key === 'Escape';
            const clickAway =
                event.type === 'click' && !this.$el.contains(event.target);
            const mouseAway =
                event.type === 'mouseout' && !this.$el.contains(event.target);

            if (pressEsc || clickAway || mouseAway) {
                this.isOpen = false;

                document.removeEventListener('click', this.close);
                document.removeEventListener('keydown', this.close);
                document.removeEventListener('mouseout', this.close);
            }
        },
    },
};
</script>

<style scoped>
@media (min-width: 768px) {
    .dropdown-enter-active {
        transition: all 150ms ease;
    }

    .dropdown-leave-active {
        transition: all 150ms cubic-bezier(1, 0.5, 0.8, 1);
    }

    .dropdown-enter,
    .dropdown-leave-to {
        transform: translateY(-10px);
        opacity: 0;
    }
}

@media (max-width: 767px) {
    .dropdown {
        display: block !important;
    }
}
</style>
