<template>
    <header
        id="navbar"
        class="fixed w-full top-0 flex bg-gray-900 h-12 px-6 py-2 items-center z-20"
    >
        <div class="flex-1 flex items-center justify-between">
            <div class="flex items-center">
                <nuxt-link id="home" :to="localePath('/')">
                    <span class="transition ease-in-out duration-200">
                        starmatt.net
                    </span>
                </nuxt-link>
            </div>

            <button
                type="button"
                class="block text-gray-500 hover:text-white hover:bg-gray-800 rounded-lg md:hidden md:ml-8"
                aria-label="menu"
                @click="isOpen ? close() : open()"
            >
                <iconify-icon
                    class="h-8 w-8 fill-current"
                    :icon="isOpen ? icons.close : icons.menu"
                />
            </button>
        </div>

        <transition name="nav-menu">
            <nav
                v-show="isOpen"
                id="nav-menu"
                class="absolute bg-gray-900 top-0 inset-x-0 mt-12 px-4 py-2 z-10 md:static md:flex md:mt-0 md:p-0"
            >
                <dropdown
                    anchor="portfolio"
                    :title="$t('portfolio')"
                    :icon="icons.palette"
                    :links="$store.state.content.portfolio"
                    @close="close"
                />

                <dropdown
                    anchor="projects"
                    :title="$t('projects')"
                    :icon="icons.code"
                    :links="$store.state.content.projects"
                    @close="close"
                />

                <nuxt-link
                    :to="{ path: localePath('/'), hash: 'contact' }"
                    class="nav-link"
                    @click="close"
                >
                    <iconify-icon :icon="icons.at" class="w-4 h-4 mr-2" />
                    <span>{{ $t('contact') }}</span>
                </nuxt-link>

                <div
                    class="flex items-center pt-3 pb-3 px-2 mt-2 border-t border-gray-800 md:p-0 md:ml-6 md:mt-0 md:border-none"
                >
                    <a
                        href="https://gitlab.com/users/starmatt/projects"
                        target="_blank"
                        title="Gitlab"
                        rel="noreferrer"
                    >
                        <gitlab-svg class="w-6 h-6" />
                    </a>

                    <a
                        href="https://www.linkedin.com/in/matthieu-borde-58019bba/"
                        target="_blank"
                        title="LinkedIn"
                        rel="noreferrer"
                    >
                        <linkedin-svg class="w-6 h-6 ml-6" />
                    </a>
                </div>

                <div
                    class="pt-3 pb-2 px-2 border-t border-gray-800 md:p-0 md:ml-6 md:mt-0 md:border-none md:hidden"
                    @click="close"
                >
                    <locale-toggle
                        class="flex items-center text-white hover:underline font-semibold"
                    />
                </div>
            </nav>
        </transition>

        <locale-toggle
            class="hidden md:flex absolute mt-16 mr-6 top-0 right-0 items-center text-white font-semibold bg-blue-600 hover:bg-blue-700 px-2 py-1 rounded-full shadow-lg"
        />
    </header>
</template>

<script>
import IconifyIcon from '@iconify/vue';
import menu from '@iconify/icons-eva/more-horizontal-fill';
import close from '@iconify/icons-eva/close-fill';
import palette from '@iconify/icons-eva/color-palette-fill';
import code from '@iconify/icons-eva/code-fill';
import at from '@iconify/icons-eva/at-fill';

import Dropdown from './Dropdown.vue';
import GitlabSvg from '~/components/svg/gitlab.vue';
import LinkedinSvg from '~/components/svg/linkedin.vue';

export default {
    components: { IconifyIcon, GitlabSvg, LinkedinSvg, Dropdown },

    data: () => ({
        icons: { menu, close, palette, code, at },
        isOpen: false,
    }),

    methods: {
        open() {
            this.isOpen = true;
            document.addEventListener('click', this.clickAway, true);
        },

        close() {
            this.isOpen = false;
            document.removeEventListener('click', this.clickAway, true);
        },

        clickAway(event) {
            if (!this.$el.contains(event.target)) {
                this.close();
            }
        },
    },
};
</script>

<style>
#home {
    @apply relative flex font-bold items-center tracking-wide;
}

#home:hover {
    @apply text-white;
}

#home::before {
    content: '/';
    @apply text-white text-xl;
}

.nav-link {
    @apply flex px-2 py-1 items-center text-white rounded;
}

.nav-link:hover {
    @apply bg-gray-800;
}

@media (min-width: 768px) {
    #nav-menu {
        display: flex !important;
    }
}

@media (max-width: 767px) {
    .nav-menu-enter-active {
        transition: all 150ms ease;
    }

    .nav-menu-leave-active {
        transition: all 150ms cubic-bezier(1, 0.5, 0.8, 1);
    }

    .nav-menu-enter,
    .nav-menu-leave-to {
        transform: translateX(-10px);
        opacity: 0;
    }
}
</style>
