<template>
    <div class="container mx-auto py-12 px-6">
        <div class="flex flex-col items-center">
            <div class="max-w-2xl md:flex items-center mb-12">
                <div
                    title="Matthieu Borde"
                    class="h-48 w-48 bg-cover mb-4 md:mb-0 mx-auto md:mx-0 rounded-full bg-gray-700 shadow-inner animated from-left"
                    :style="{ backgroundImage: `url(/picture.jpg)` }"
                />

                <div class="md:ml-6 animated from-right">
                    <div class="text-center md:text-left mb-6">
                        <h6
                            class="text-sm font-semibold uppercase tracking-widest text-gray-500"
                        >
                            {{ $t('index.subtitle1') }}
                            &bull;
                            {{ $t('index.subtitle2') }}
                        </h6>

                        <h4 class="font-semibold text-white text-2xl">
                            Matthieu Borde
                        </h4>
                    </div>

                    <div class="flex items-center mb-1">
                        <iconify-icon
                            :icon="icons.pin"
                            class="flex-shrink-0 w-4 mr-2 text-red-500"
                        />
                        <span>{{ $t('index.loc') }}</span>
                    </div>

                    <div class="flex items-center mb-1">
                        <iconify-icon
                            :icon="icons.globe"
                            class="flex-shrink-0 w-4 mr-2 text-blue-500"
                        />
                        <span>{{ $t('index.lang') }}</span>
                    </div>

                    <div class="flex items-center">
                        <iconify-icon
                            :icon="icons.star"
                            class="flex-shrink-0 w-4 mr-2 text-yellow-500"
                        />
                        <span>{{ $t('index.exp') }}</span>
                    </div>
                </div>
            </div>

            <div
                class="max-w-2xl mb-12 p-4 rounded-lg bg-gray-700 border-l-8 border-blue-500 shadow-lg"
            >
                <h6
                    class="text-sm font-semibold uppercase tracking-widest text-gray-500 mb-2"
                >
                    {{ $t('index.about_me.title') }}
                </h6>

                <!-- eslint-disable vue/no-v-html -->
                <p v-html="$t('index.about_me.content')" />
            </div>

            <div class="text-center">
                <div class="text-lg mb-4 font-semibold">
                    {{ $t('index.contact') }}
                </div>

                <nuxt-link
                    :to="{ path: localePath('/'), hash: 'contact' }"
                    class="inline-block py-2 px-6 bg-blue-600 hover:bg-blue-700 text-white rounded-full text-xl"
                >
                    {{ $t('index.contact_btn') }}
                </nuxt-link>
            </div>
        </div>
    </div>
</template>

<script>
import IconifyIcon from '@iconify/vue';
import pin from '@iconify/icons-eva/pin-fill';
import globe from '@iconify/icons-eva/globe-fill';
import star from '@iconify/icons-eva/star-fill';

export default {
    components: { IconifyIcon },
    data: () => ({ icons: { pin, globe, star } }),
};
</script>

<style scoped>
@keyframes from-right {
    from {
        opacity: 0;
        transform: translateX(5rem);
    }

    100% {
        opacity: 1;
    }
}

@keyframes from-left {
    from {
        opacity: 0;
        transform: translateX(-5rem);
    }

    100% {
        opacity: 1;
    }
}

.from-right {
    animation-name: from-right;
}

.from-left {
    animation-name: from-left;
}
</style>
