<template>
    <div class="container mx-auto py-12 px-6">
        <div class="text-center mb-12">
            <h4 class="font-semibold text-white text-2xl">
                {{ $t('form.title') }}
            </h4>
        </div>

        <form
            class="w-full max-w-lg mx-auto relative"
            method="post"
            @submit.prevent="validate"
        >
            <div v-if="!!apiError" class="cover">
                <iconify-icon
                    :icon="icons.alert"
                    class="h-32 w-32 text-red-400 mb-4"
                />
                <p class="mb-1 text-lg font-bold">
                    {{ $t('form.error') }}
                </p>
                <p class="text-sm text-red-500 mb-6">
                    {{ apiError.status }}: {{ apiError.statusText }}
                </p>
                <button
                    class="block bg-red-500 text-white rounded-full px-4 py-1"
                    @click="apiError = null"
                >
                    {{ $t('form.x') }}
                </button>
            </div>

            <div v-if="isSubmitted && !apiError" class="cover">
                <iconify-icon
                    :icon="icons.check"
                    class="h-32 w-32 text-green-400 mb-4"
                />
                <p class="text-lg font-bold">
                    {{ $t('form.success') }}
                </p>
            </div>

            <div :class="{ 'opacity-25': isSubmitted || !!apiError }">
                <div class="flex flex-wrap mb-4">
                    <div class="w-full md:w-1/2 mb-4 md:mb-0 md:pr-1">
                        <label for="sdv__contact-input-0" class="label">
                            <iconify-icon :icon="icons.person" class="mr-2" />
                            <span>{{ $t('form.fullname.label') }}</span>
                        </label>

                        <input
                            id="sdv__contact-input-0"
                            v-model.trim="$v.form.fullname.$model"
                            class="input"
                            :class="{ error: $v.form.fullname.$error }"
                            type="text"
                            name="fullname"
                            :placeholder="$t('form.fullname.ph')"
                        />

                        <p
                            v-if="$v.form.fullname.$error"
                            class="flex items-center text-sm text-red-500"
                        >
                            <iconify-icon :icon="icons.alert" class="mr-2" />
                            <span>{{ $t('form.required') }}</span>
                        </p>
                    </div>

                    <div class="w-full md:w-1/2 md:pl-1">
                        <label for="sdv__contact-input-1" class="label">
                            <iconify-icon :icon="icons.at" class="mr-2" />
                            <span>{{ $t('form.email.label') }}</span>
                        </label>

                        <input
                            id="sdv__contact-input-1"
                            v-model.trim="$v.form.email.$model"
                            class="input appearance-none outline-none shadow-none"
                            :class="{ error: $v.form.email.$error }"
                            type="email"
                            name="email"
                            :placeholder="$t('form.email.ph')"
                        />

                        <p
                            v-if="$v.form.email.$error"
                            class="flex items-center text-sm text-red-500"
                        >
                            <iconify-icon :icon="icons.alert" class="mr-2" />
                            <span v-if="!$v.form.email.required">
                                {{ $t('form.required') }}
                            </span>
                            <span v-if="!$v.form.email.email">
                                {{ $t('form.email.error') }}
                            </span>
                        </p>
                    </div>
                </div>

                <div class="flex flex-wrap mb-4">
                    <div class="w-full md:w-1/2 mb-4 md:mb-0 md:pr-1">
                        <label for="sdv__contact-input-2" class="label">
                            <iconify-icon :icon="icons.home" class="mr-2" />
                            <span>{{ $t('form.company.label') }}</span>
                        </label>

                        <input
                            id="sdv__contact-input-2"
                            v-model.trim="form.company"
                            class="input"
                            type="text"
                            name="company"
                            :placeholder="$t('form.company.ph')"
                        />
                    </div>

                    <div class="w-full md:w-1/2 md:pl-1">
                        <label for="sdv__contact-input-3" class="label">
                            <iconify-icon :icon="icons.phone" class="mr-2" />
                            <span>{{ $t('form.phone.label') }}</span>
                        </label>

                        <input
                            id="sdv__contact-input-3"
                            v-model.trim="form.phone"
                            class="input"
                            type="tel"
                            name="phone"
                            :placeholder="$t('form.phone.ph')"
                        />
                    </div>
                </div>

                <div class="w-full mb-4">
                    <label for="sdv__contact-input-4" class="label">
                        <iconify-icon :icon="icons.mail" class="mr-2" />
                        <span>{{ $t('form.subject.label') }}</span>
                    </label>

                    <input
                        id="sdv__contact-input-4"
                        v-model.trim="$v.form.subject.$model"
                        class="input"
                        :class="{ error: $v.form.subject.$error }"
                        type="text"
                        name="subject"
                        :placeholder="$t('form.subject.ph')"
                    />

                    <p
                        v-if="$v.form.subject.$error"
                        class="flex items-center text-sm text-red-500"
                    >
                        <iconify-icon :icon="icons.alert" class="mr-2" />
                        <span>{{ $t('form.required') }}</span>
                    </p>
                </div>

                <div class="w-full mb-4">
                    <label for="sdv__contact-input-5" class="label">
                        <iconify-icon :icon="icons.message" class="mr-2" />
                        <span>{{ $t('form.message.label') }}</span>
                    </label>

                    <textarea
                        id="sdv__contact-input-5"
                        v-model="$v.form.message.$model"
                        class="input h-24 min-h-full"
                        :class="{ error: $v.form.message.$error }"
                        type="text"
                        name="subject"
                        :placeholder="$t('form.message.ph')"
                    />

                    <p
                        v-if="$v.form.message.$error"
                        class="flex items-center text-sm text-red-500"
                    >
                        <iconify-icon :icon="icons.alert" class="mr-2" />
                        <span>{{ $t('form.required') }}</span>
                    </p>
                </div>

                <div class="w-full">
                    <button
                        type="submit"
                        class="block w-full bg-blue-600 hover:bg-blue-700 text-white rounded-full px-4 py-2 font-bold text-center"
                        :class="{
                            'opacity-50 cursor-not-allowed':
                                $v.$anyError || isLoading,
                        }"
                        :disabled="$v.$anyError || isLoading"
                    >
                        <iconify-icon
                            v-if="isLoading"
                            :icon="icons.loader"
                            class="h-6 w-6 mx-auto spinner"
                        />

                        <span v-else>{{ $t('form.submit') }}</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import IconifyIcon from '@iconify/vue';
import person from '@iconify/icons-eva/person-fill';
import mail from '@iconify/icons-eva/email-fill';
import phone from '@iconify/icons-eva/phone-fill';
import home from '@iconify/icons-eva/home-fill';
import message from '@iconify/icons-eva/message-circle-fill';
import at from '@iconify/icons-eva/at-fill';
import alert from '@iconify/icons-eva/alert-circle-fill';
import check from '@iconify/icons-eva/checkmark-circle-2-fill';
import loader from '@iconify/icons-eva/loader-outline';

import { validationMixin } from 'vuelidate';
import { required, email } from 'vuelidate/lib/validators';

export default {
    components: { IconifyIcon },
    mixins: [validationMixin],

    data: () => ({
        icons: { person, mail, phone, home, message, at, alert, check, loader },

        form: {
            fullname: '',
            email: '',
            phone: '',
            company: '',
            subject: '',
            message: '',
        },

        isLoading: false,
        isSubmitted: false,
        apiError: null,
    }),

    validations: {
        form: {
            fullname: { required },
            email: { required, email },
            subject: { required },
            message: { required },
        },
    },

    methods: {
        async submit() {
            this.isLoading = true;

            try {
                await this.$http.post('/api/contact', {
                    ...this.form,
                });

                this.reset();
                this.isSubmitted = true;
            } catch (e) {
                const { status, statusText } = e.response;

                this.apiError = {
                    status,
                    statusText,
                };
            }

            this.isLoading = false;
        },

        validate() {
            this.$v.$touch();

            if (
                this.isLoading ||
                this.isSubmitted ||
                !!this.apiError ||
                this.$v.$invalid
            ) {
                return;
            }

            this.submit();
        },

        reset() {
            this.form = Object.keys(this.form).reduce((acc, key) => {
                acc[key] = '';
                return acc;
            }, {});

            this.$v.$reset();
        },
    },
};
</script>

<style scoped>
.label {
    @apply flex items-center uppercase tracking-wide text-blue-400 font-bold text-xs mb-2;
}

.input {
    @apply block w-full bg-gray-700 border border-gray-700 text-white px-2 py-1 rounded transition-all ease-in-out duration-100;
}

.input.error {
    @apply border-red-500 !important;
}

.input:hover,
.input:focus {
    @apply border-blue-300;
}

.input:focus {
    @apply bg-gray-800;
}

.cover {
    @apply flex flex-col absolute inset-0 items-center justify-center text-center z-20;
}

.spinner {
    animation-name: spin;
    animation-duration: 1250ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
</style>
