<template>
    <footer class="bg-black text-gray-500 text-sm">
        <div class="container mx-auto pt-12 pb-24 px-6">
            <div class="block md:flex flex-reverse">
                <div class="flex-1 mb-6 md:mb-0">
                    <p>© 2020 | {{ $t('footer.me') }}</p>
                    <p>
                        {{ $t('footer.email') }}
                        <a href="mailto:contact@starmatt.net">
                            contact@starmatt.net
                        </a>
                    </p>

                    <p>{{ $t('footer.siret') }} 823 046 537 00010</p>
                </div>

                <div class="md:text-right">
                    <nuxt-link :to="localePath('/sitemap')" class="block">
                        {{ $t('footer.sitemap') }}
                    </nuxt-link>
                    <nuxt-link :to="localePath('/legal')" class="block">
                        {{ $t('footer.legal') }}
                    </nuxt-link>
                </div>
            </div>

            <locale-toggle
                class="inline-flex items-center font-semibold mt-4"
            />
        </div>
    </footer>
</template>

<style scoped>
a {
    @apply text-white;
}

a:hover {
    @apply underline;
}
</style>
