<template>
    <nuxt-link :to="localeSwitch">
        <iconify-icon :icon="icons.globe" class="h-4 w-4" />
        <span class="text-sm ml-1">
            {{ $t('changeLang') }}
        </span>
    </nuxt-link>
</template>

<script>
import IconifyIcon from '@iconify/vue';
import globe from '@iconify/icons-eva/globe-2-fill';

export default {
    components: { IconifyIcon },

    data: () => ({
        icons: { globe },
    }),

    computed: {
        localeSwitch() {
            return this.switchLocalePath(
                this.$i18n.locale === 'fr' ? 'en' : 'fr'
            ).split('#')[0];
        },
    },
};
</script>
