<template>
    <div>
        <div class="text-center md:text-left mb-6">
            <h4 class="font-semibold text-white text-2xl">
                {{ title }}
            </h4>
        </div>

        <div class="flex flex-wrap justify-start md:-mx-4 md:-my-4">
            <div
                v-for="(project, index) in projects"
                :id="project.slug"
                :key="index"
                class="relative w-full md:w-1/2 lg:w-1/3 py-2 md:py-4 md:px-4"
            >
                <div
                    class="flex flex-col h-full rounded-lg bg-gray-700 overflow-hidden group shadow-lg"
                >
                    <div
                        :title="project.title"
                        class="h-64 w-full mx-auto rounded-t-lg bg-no-repeat bg-gray-800"
                        :style="{
                            backgroundImage: `url(/${project.slug}.png)`,
                        }"
                        :class="[
                            !!project.image_class
                                ? project.image_class
                                : 'bg-cover bg-top',
                        ]"
                    />

                    <div class="flex-1 flex flex-col justify-between p-4">
                        <div>
                            <h4 class="text-lg font-semibold text-white mb-4">
                                {{ project.title }}

                                <div class="flex">
                                    <span
                                        v-for="lang in project.lang"
                                        :key="lang"
                                        :title="lang"
                                        class="mr-2 text-xs uppercase font-semibold tracking-wide px-1 rounded-sm"
                                        :class="`bg-${colors[lang]}-300 text-${colors[lang]}-900`"
                                    >
                                        {{ lang }}
                                    </span>
                                </div>
                            </h4>

                            <p>{{ project[description] }}</p>
                        </div>

                        <div class="flex justify-end items-center mt-6">
                            <div class="flex">
                                <a
                                    v-if="!!project.repo"
                                    :href="project.repo"
                                    target="_blank"
                                    class="flex items-center text-sm text-blue-400"
                                    rel="noreferrer"
                                >
                                    <gitlab-svg class="h-4 w-4 mr-2" />
                                    <span>{{ $t('source') }}</span>
                                </a>

                                <a
                                    v-if="!!project.link"
                                    :href="project.link"
                                    target="_blank"
                                    class="flex items-center px-2 bg-blue-600 hover:bg-blue-700 text-white text-sm rounded ml-4"
                                    rel="noreferrer"
                                >
                                    <iconify-icon
                                        :icon="icons.extern"
                                        class="mr-2"
                                    />
                                    <span>{{ $t('visit') }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import IconifyIcon from '@iconify/vue';
import extern from '@iconify/icons-eva/external-link-fill';
import info from '@iconify/icons-eva/info-outline';

import GitlabSvg from '~/components/svg/gitlab.vue';

export default {
    components: { IconifyIcon, GitlabSvg },

    props: {
        title: {
            type: String,
            required: true,
        },
        projects: {
            type: Array,
            required: true,
        },
    },

    data: () => ({
        icons: { extern, info },

        colors: {
            js: 'yellow',
            php: 'indigo',
            react: 'blue',
            nextjs: 'gray',
            nodejs: 'green',
            nuxtjs: 'green',
            vuejs: 'green',
        },
    }),

    computed: {
        description() {
            return `description_${this.$i18n.locale}`;
        },
    },
};
</script>
