<template>
    <div class="container mx-auto py-12 px-6">
        <div class="text-center md:text-left mb-6">
            <h4 class="font-semibold text-white text-2xl">
                {{ $t('skills.title') }}
            </h4>
        </div>

        <div class="flex flex-wrap justify-around md:-mx-4 md:-my-4">
            <div
                v-for="(item, index) in items"
                :key="index"
                class="w-full py-2 md:py-4 md:px-4 md:w-1/2 lg:w-1/3"
            >
                <div
                    class="h-full p-4 rounded-lg bg-blue-800 border-b-8 shadow-lg"
                    :class="`border-${item.color}-500`"
                >
                    <h6
                        class="text-center font-semibold uppercase tracking-widest mb-4"
                        :class="`text-${item.color}-300`"
                    >
                        {{ $t(`skills.${item.key}.title`) }}
                    </h6>

                    <iconify-icon
                        :icon="item.icon"
                        class="h-24 w-24 mx-auto mb-4"
                    />

                    <!-- eslint-disable vue/no-v-html -->
                    <p v-html="$t(`skills.${item.key}.content`)" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import IconifyIcon from '@iconify/vue';
import bulb from '@iconify/icons-eva/bulb-outline';
import trending from '@iconify/icons-eva/trending-up-fill';
import expand from '@iconify/icons-eva/expand-fill';
import brush from '@iconify/icons-eva/brush-fill';
import eye from '@iconify/icons-eva/eye-outline';
import sun from '@iconify/icons-eva/sun-fill';

export default {
    components: { IconifyIcon },

    data: () => ({
        items: [
            { key: 'api', color: 'green', icon: bulb },
            { key: 'seo', color: 'teal', icon: trending },
            { key: 'resp', color: 'blue', icon: expand },
            { key: 'integ', color: 'indigo', icon: brush },
            { key: 'acces', color: 'purple', icon: eye },
            { key: 'supp', color: 'pink', icon: sun },
        ],
    }),
};
</script>
