@tailwind base;

a {
    @apply text-blue-500;
}

a:hover {
    @apply text-white;
}

@tailwind components;
@tailwind utilities;

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;

    &.infinite {
        animation-iteration-count: infinite;
    }
}
