<template>
    <div class="antialiased font-sans bg-gray-800 text-gray-300">
        <Navbar />

        <main>
            <nuxt />
        </main>

        <Footer />
    </div>
</template>

<script>
export default {
    head() {
        const i18nSeo = this.$nuxtI18nSeo();

        return {
            htmlAttrs: { ...i18nSeo.htmlAttrs },
            title: this.$t('title'),
            meta: [
                {
                    hid: 'description',
                    name: 'description',
                    content: this.$t('description'),
                },
            ],
        };
    },
};
</script>
