<template>
    <div>
        <section id="about-me" class="flex min-h-screen items-center pt-12">
            <about-me />
        </section>

        <section id="skills" class="flex min-h-screen items-center bg-blue-900">
            <skills />
        </section>

        <section id="content" class="flex min-h-screen items-center">
            <div class="container mx-auto py-12 px-6">
                <preview
                    id="portfolio"
                    class="mb-6"
                    :title="$t('portfolio')"
                    :projects="$store.state.content.portfolio"
                />
                <preview
                    id="projects"
                    :title="$t('projects')"
                    :projects="$store.state.content.projects"
                />
            </div>
        </section>

        <section
            id="contact"
            class="flex min-h-screen items-center bg-gray-900"
        >
            <contact-form />
        </section>
    </div>
</template>
