<template>
    <section class="flex min-h-screen items-center pt-12">
        <div class="container mx-auto py-12 px-6">
            <div class="text-center md:text-left mb-6">
                <h4 class="font-semibold text-white text-2xl">
                    Propriété intellectuelle
                </h4>
            </div>

            <p class="mb-6">
                Les créations réalisées par la société
                <nuxt-link :to="localePath('/')">
                    Matthieu BORDE, développeur indépendant
                </nuxt-link>
                sont protégées au titre du droit d’auteur conformément aux
                dispositions des livres I à III du Code de la Propriété
                Intellectuelle. A ce titre, toute reproduction, représentation,
                utilisation, adaptation, modification, incorporation,
                traduction, commercialisation, partielles ou intégrales des
                éléments contenus dans ce site, sans l’autorisation écrite
                préalable de
                <nuxt-link :to="localePath('/')">
                    Matthieu BORDE, développeur indépendant
                </nuxt-link>
                est interdite, sous peine de constituer un délit de contrefaçon
                de droit d’auteur.
            </p>

            <div class="text-center md:text-left mb-6">
                <h4 class="font-semibold text-white text-2xl">
                    Données personnelles
                </h4>
            </div>

            <p class="mb-6">
                En application de la loi n° 78-17 du 6 janvier 1978 («
                informatique et libertés »), vous disposez d’un droit d’accès
                aux informations qui vous concernent et vous pouvez les faire
                modifier. Si vous souhaitez faire modifier ou supprimer
                certaines des données qui vous concernent, veuillez contacter
                directement la société dont les coordonnées figurent sur le
                site.
            </p>

            <div class="text-center md:text-left mb-6">
                <h4 class="font-semibold text-white text-2xl">
                    Entreprise
                </h4>
            </div>

            <div class="mb-6">
                <nuxt-link :to="localePath('/')">
                    Matthieu BORDE, développeur indépendant
                </nuxt-link>
                <p>547 avenue Thérèse</p>
                <p class="mb-4">94500 Champigny-sur-Marne France</p>
                <p>
                    <span class="font-semibold">SIRET :</span> 823 046 537 00010
                </p>
            </div>

            <div class="text-center md:text-left mb-6">
                <h4 class="font-semibold text-white text-2xl">
                    Directeur de publication
                </h4>
            </div>

            <p class="mb-6">
                Matthieu Borde -
                <a href="mailto:contact@starmatt.net">
                    contact@starmatt.net
                </a>
            </p>

            <div class="text-center md:text-left mb-6">
                <h4 class="font-semibold text-white text-2xl">
                    Hébergement
                </h4>
            </div>

            <p class="mb-4">Le présent site est hébergé par Vercel.</p>
            <p class="font-bold">Vercel Inc.</p>
            <p>340 S Lemon Ave #4133</p>
            <p>Walnut, CA 91789</p>
        </div>
    </section>
</template>
