<template>
    <section class="flex min-h-screen items-center pt-12">
        <div class="container mx-auto py-12 px-6">
            <div class="text-center md:text-left mb-6">
                <h4 class="font-semibold text-white text-2xl">
                    {{ $t('sitemap.title') }}
                </h4>
            </div>

            <div class="link mb-4">
                <nuxt-link :to="localePath('/')" class="flex items-center">
                    <iconify-icon :icon="icons.link" class="mr-2" />
                    <span>{{ $t('sitemap.index') }}</span>
                </nuxt-link>

                <ul>
                    <li class="child-link">
                        <nuxt-link
                            :to="{ path: localePath('/'), hash: 'about-me' }"
                            class="flex items-center"
                        >
                            <iconify-icon :icon="icons.hash" class="mr-2" />
                            <span>
                                {{ $t('sitemap.about') }}
                            </span>
                        </nuxt-link>
                    </li>

                    <li class="child-link">
                        <nuxt-link
                            :to="{ path: localePath('/'), hash: 'skills' }"
                            class="flex items-center"
                        >
                            <iconify-icon :icon="icons.hash" class="mr-2" />
                            <span>
                                {{ $t('sitemap.skills') }}
                            </span>
                        </nuxt-link>
                    </li>

                    <li class="child-link inner">
                        <nuxt-link
                            :to="{ path: localePath('/'), hash: 'portfolio' }"
                            class="flex items-center"
                        >
                            <iconify-icon :icon="icons.hash" class="mr-2" />
                            <span>
                                {{ $t('sitemap.portfolio') }}
                            </span>
                        </nuxt-link>

                        <ul>
                            <li
                                v-for="project in $store.state.content
                                    .portfolio"
                                :key="project.slug"
                                class="child-link"
                            >
                                <nuxt-link
                                    :to="{
                                        path: localePath('/'),
                                        hash: project.slug,
                                    }"
                                >
                                    {{ project.title }}
                                </nuxt-link>
                            </li>
                        </ul>
                    </li>

                    <li class="child-link inner">
                        <nuxt-link
                            :to="{ path: localePath('/'), hash: 'projects' }"
                            class="flex items-center"
                        >
                            <iconify-icon :icon="icons.hash" class="mr-2" />
                            <span>
                                {{ $t('sitemap.projects') }}
                            </span>
                        </nuxt-link>

                        <ul>
                            <li
                                v-for="project in $store.state.content.projects"
                                :key="project.slug"
                                class="child-link"
                            >
                                <nuxt-link
                                    :to="{
                                        path: localePath('/'),
                                        hash: project.slug,
                                    }"
                                >
                                    {{ project.title }}
                                </nuxt-link>
                            </li>
                        </ul>
                    </li>

                    <li class="child-link">
                        <nuxt-link
                            :to="{ path: localePath('/'), hash: 'contact' }"
                            class="flex items-center"
                        >
                            <iconify-icon :icon="icons.hash" class="mr-2" />
                            <span>
                                {{ $t('sitemap.contact') }}
                            </span>
                        </nuxt-link>
                    </li>
                </ul>
            </div>

            <div class="link mb-4">
                <nuxt-link :to="localePath('/legal')" class="flex items-center">
                    <iconify-icon :icon="icons.link" class="mr-2" />
                    <span>
                        {{ $t('sitemap.legal') }}
                    </span>
                </nuxt-link>
            </div>

            <div class="link">
                <nuxt-link
                    :to="localePath('/sitemap')"
                    class="flex items-center"
                >
                    <iconify-icon :icon="icons.link" class="mr-2" />
                    <span>
                        {{ $t('sitemap.sitemap') }}
                    </span>
                </nuxt-link>
            </div>
        </div>
    </section>
</template>

<script>
import IconifyIcon from '@iconify/vue';
import link from '@iconify/icons-eva/link-fill';
import hash from '@iconify/icons-eva/hash-fill';

export default {
    components: { IconifyIcon },

    data: () => ({
        icons: { link, hash },
    }),
};
</script>

<style scoped>
ul {
    @apply list-none border-l border-gray-500;
    @apply ml-1;
}

.link {
    @apply text-lg;
    @apply block items-center;
}

.link a {
    @apply transition-all duration-100 ease-in-out;
}

.link a:hover {
    @apply underline;
}

.child-link {
    @apply flex relative items-center;
    @apply my-1 mx-4 py-1;
}

.child-link a {
    @apply transition-all duration-100 ease-in-out;
    @apply text-gray-500;
}

.child-link a:hover {
    @apply underline;
    @apply text-white;
}

.child-link.inner {
    @apply block;
    @apply py-0;
}
</style>
